.faq-container {
    max-width: 1000px;
    margin: 5% auto;
    padding: 20px;
    text-align: justify;
  }
  
  .faq-list {
    /* list-style: none; */
    padding: 2%;
    
  }
  
  .faq-question {
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  .faq-answer {
    margin-bottom: 20px;

}