.cart-page {
  margin-top: 80px;
}

.cart-page h1 {
  padding: 15px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  background-color: #DBAD7E !important;
}
.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

.cart-page .card {
  padding: 15px !important;
  padding-top: -10px !important;
  height: 323px !important;
  margin-bottom: 5px !important;

}
.cart-page .cart-remove-btn {
  display: flex;
  flex: 1;
  /* margin-top: 50 !important; */
  align-items: center;
  justify-content: right;
  /* float: right; */
}
.cart-page .cart-summary {
  text-align: center;
 
  /* margin-top: -140px !important; */
}
#product-d{
  display: inline-block;
  font-size: 2.1vmin;
  
}
