#main{
    background-color: black;
    color: white;
    padding-top: 1vmin;
    padding-left: 4vmin;
}
#logo{
    height: 10vmin;
    margin-top: 10vmin;
    width: 20vmin;
    margin-left: 8vmin;
}
#social{
   margin-top: 4vmin;
    gap: 3vmin;
}

#locate{
    margin-top: 5%;
    font-size: 24px;
    color: #DBAD7E;
}


/* .logo{
    gap:1rem;
} */



a{
    text-decoration: none;
    color:white;
}
 
  a:hover {
    text-decoration: none;
  }

.profile-icon{
    display: inline-block;
    margin-left: 2vmin;
    font-weight: 100;
}
#action{
    display: inline-block;
}
#locate-p{
    margin-top: 2vmin;
}
#profile-item{
    margin-top: 2vmin;
    margin-left: 4vmin;   
 
}
#profile{
    margin-left: 4vmin;
    margin-top: 5%;
    font-size: 24px;
    color: #DBAD7E;
}
#action-m{
    display: flex;
    justify-content: center;
    margin-top: 4vmin;
    margin-bottom:-1vmin;
    color: #DBAD7E;
}
#action{
  
    display: flex;
    justify-content: center;
    gap: 2.5vmin;
    margin-bottom:2vmin;
    margin-top: 2vmin;
}
h4{
    font-size: 18px;
}

h2{
    padding-top: 20px;
    /* padding-left: 20px; */
    
}

/* p{
    padding-left: 20px;
} */

.col-lg-4{
    padding-left: 60px;
}