@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.mt-3 {
  margin-top: 0 !important;
}

.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.btn-info {
  background-color: #DBAD7E !important;
  border-color: rgba(128, 128, 128, 0.097);
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters{
  width: 40vmin;
  background-color: #CDAC81;
  text-transform:uppercase;
  padding-left:6vmin;
  padding-right: 10vmin;
  
}

.filters .btn{
  background-color: #2C3333;
  border-radius: 2px;
  
}
.filters h4 {
  text-align: left !important;
  margin-left: 5%;
  font-size: 2.4vmin;
  padding-top: 10%;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-family: Montserrat;
  font-weight: 600;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
  width: 120%;
  margin-bottom: 10%;
  
}
.filters h4:nth-child(1){
  margin-top: 5vmin;
}

.ant-checkbox-wrapper {
  margin-left: 5% !important;
  margin-bottom: 2%;
  color: #2C3333;
  font-weight: 500;
  margin-bottom: 5%;
}

/* .ant-checkbox-wrapper {
  margin: 2px;
} */
.ant-radio-wrapper {
  margin-left: 5% !important;
  margin-bottom: 2%;
  color: #2C3333;
  font-weight: 500;
  width:100%;
  margin-bottom: 5%;
}

.filters button {
  background-color: #2C3333;
  width: 100%;
  font-size: 2vmin;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  letter-spacing: 1px;
}

.loadmore {
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 16px !important;
  border: 2px solid !important;
  width: 25% !important;
  margin-left: 36.5%;
}

#products-m{
  margin-left: 10vmin ;
}

#products-h{
  text-transform:uppercase;
  /* font-weight: bold; */
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  color:rgb(0, 0, 0);
  margin-top: -6vmin;
  
  /* margin-bottom: 6vmin; */
  /* text-decoration: underline; */
}

#products-h3{
  font-family: Montserrat;
  margin-top: -2vmin;
  margin-bottom: 6vmin;
  /* text-transform:uppercase; */
  text-align: center;
  color:#DBAD7E;;
  font-size: 26px;
}
#prouducts-i{
  margin-left: 6vmin;
  gap:5vmin;
}