@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters{
  width: 40vmin;
  background-color: #63a1ec;
  text-transform:uppercase;
  padding-left:6vmin;
  padding-right: 10vmin;
  
}

.filters .btn{
  
  background-color: #1a3f6d;
  border-radius: 5%;
  
}
.filters h4 {
  font-size: 2vmin;
  padding-top: 10%;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-family: Montserrat;
  font-weight: 600;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
  
}
.filters h4:nth-child(1){
  margin-top: 14vmin;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

#products-m{
  margin-left: 10vmin ;
}

#products-h{
  text-transform:uppercase;
  font-weight: bold;
  font-family: Montserrat;
  font-weight: 800;
  color:rgb(0, 0, 0);
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  text-decoration: underline;
}
#prouducts-i{
  margin-left: 6vmin;
  gap:5vmin;
}

